<html>

<head>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/JavaScript" src="/static/getLocation.js"></script>

  <style>
    body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        .dropdown-toggle::after {
            content: none;
        }
</style>


</head>

<body>



  <div class="container-fluid gedf-wrapper">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 gedf-main">

        <!--- Post-->
        <div class="card gedf-card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Post Social Msg</a>
              </li>

            </ul>
          </div>
          <form method="post">

            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                  <div class="form-group">
                    <label class="sr-only" for="message">post</label>
                    <textarea class="form-control" name="body" rows="3" placeholder="What are you thinking?">{{ request.form['body'] }}</textarea>
                  </div>

                </div>


                                <input type="hidden" name="lat" id="lat">
                                <input type="hidden" name="long" id="long">

              </div>

              <div class="btn-toolbar justify-content-between">

                <div class="btn-group">
                  <button type="submit" class="btn btn-primary">share</button>

                </div>
          </form>

        </div>
      </div>
    </div>
    <!-- Post /////-->
    {% for post in posts %}


    <!--- \\\\\\\Post-->

    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">

            <div class="mr-2">
              <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
              <div class="ml-2">
                <div class="h5 m-0">{{ post['username'] }}</div>
                <!--<div class="h7 text-muted">Latitude: {{ post['lat'] }} Longitude: {{ post['long'] }}  </div>-->
                <div class="h7 text-muted">Address: {{ post['address'] }}  </div>
              </div>
            </div>
            <div>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                  <div class="h6 dropdown-header">Actions</div>
                  <a class="dropdown-item" href="#">Save</a>
                  <a class="dropdown-item" href="#">Hide</a>
                  <a class="dropdown-item" href="#">Report</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post['created'].strftime('%Y-%m-%d') }}</div>
          <!-- <a class="card-link" href="#">
                            <h5 class="card-title">this could be a title? i dont know, prolly not use titles</h5>
                        </a> -->

          <p class="card-text">
            {{ post['body'] }}
          </p>
        </div>



        <div class="card-footer">
          <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
          <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
          <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
        </div>
      </div>
      <!-- Post /////-->
      {% endfor %}








    </div>
    <div class="col-md-3"></div>
  </div>
  </div>
</body>

</html>
